<html>  
     
     <head>
 
         <!-- Latest compiled and minified CSS -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        
          <link rel="styleshee" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
         
         <!-- jQuery library -->
         <script
         src="https://code.jquery.com/jquery-2.2.4.min.js"
         integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
         crossorigin="anonymous"></script>
     
          <!-- jQuery library -->
          <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
     
           <!-- jQuery library -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <!-- Datepicker -->  
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment-with-locales.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3-transition/1.1.1/d3-transition.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.collapsible/1.2/jquery.collapsible.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

       {% if title %}
       <title>{{ title }}</title>
       {% else %}
       <title> TEST </title>
       {% endif %}
     </head>
 
     <body>       
             <a href="/">Home</a>
             <a href="/">Home_2</a>
          
         </div>
         <hr>         
         {% block content %}
         
         
         {% endblock %}
     </body>
 </html>